node_modules/
.env
.DS_Store
dist/
coverage/
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.parcel-cache
/.pnp/*node_modules
test*
*.sql
debug-movies.js
expand-genres.js
migrations
docs